@CHARSET "UTF-8";
/*顶踩
-------------------------------------------------------*/
.newdigg{ clear:both; margin:30px auto; padding-left:8px; width:406px; height:51px; overflow:hidden; }
.diggbox{ float:left; margin-right:8px; width:195px; height:51px; overflow:hidden; cursor:pointer; }
	.diggbox .digg_act{ float:left; font-size:14px; font-weight:bold; line-height:31px; text-indent:32px; height:29px; overflow:hidden; }
	.diggbox .digg_num{ float:left; line-height:29px; text-indent:5px; }
	.diggbox .digg_percent{ clear:both; padding-left:10px; width:180px; overflow:hidden; }
		.diggbox .digg_percent .digg_percent_bar{ float:left; margin-top:3px; width:100px; height:7px; background:#E8E8E8; border-right:1px solid #CCC;  overflow:hidden; }
		.diggbox .digg_percent .digg_percent_num{ float:left; padding-left:10px; font-size:10px; }
		.diggbox .digg_percent .digg_percent_bar span{ display:block; height:5px; background:#000; overflow:hidden; }
.newdigg .digg_good{ background:url(../image/newdigg-bg.png) left top no-repeat; }
.newdigg .digg_bad{ background:url(../image/newdigg-bg.png) right top no-repeat; }
.newdigg .digg_good .digg_act{ color:#C30; }
.newdigg .digg_good .digg_num{ color:#C63; }
.newdigg .digg_bad .digg_act{ color:#36C; }
.newdigg .digg_bad .digg_num{ color:#39C; }
.newdigg .digg_good .digg_percent .digg_percent_bar span{ color:#ff0000; border:1px solid #E37F24; background:#FFC535; }
.newdigg .digg_bad .digg_percent .digg_percent_bar span{ border:1px solid #689ACC; background:#94C0E4; }

/*评论
-----------------------------------------------------*/
.comment_box{ margin:0px auto 20px auto; padding-top:20px; border-top:1px solid #cde0ec; }
.comment_box h3{ margin:0 0 10px 0; padding:0 0 0 20px; font-size:14px; line-height:30px; border-bottom: 1px solid #999; background:url(../image/icon_comment.gif) no-repeat left 8px; }
.comment_box h3.add{ background-position:left -43px;}
.comment_box h3 span{ float:right; font-weight:normal; font-size:12px; }
.comment_list ul{ list-style-type: none; }
.comment_list ul li{ margin-bottom:15px; border-bottom:1px solid #E1E1E1; margin-left: 0px; }
.comment_list ul li .title{ padding-left:20px; font-weight:bold; line-height:30px; background:url(../image/icon_comment.gif) no-repeat 0 -92px; }
.comment_list ul li .title span{ float:right; font-size:12px; color:#999; font-weight:normal; }
.comment_list ul li .box{ margin-bottom:10px; line-height:1.8em; color:#333; }
.comment_list ul li .reply{ margin-bottom: 15px; padding:3px 10px; border:1px solid #F0C59D; color:#F60; background:#F4EDDD; line-height:1.5em; }
.comment_list ul li .reply .time{ float:right; color:#999; }
.comment_add textarea{ width:614px; height:80px; overflow:auto; }
.comment_add .btns{ margin-top: 10px;}
.comment_add .btns .submit{ float: right; }

/*友情链接
------------------------------------------------------------------------*/
.sidebar_link{ width: 300px; overflow: hidden; }
.sidebar_link ul,.sidebar_link ul li{ margin: 0; padding: 0; list-style: none; }
.sidebar_link ul li{ float: left; }
.sidebar_link .txt{ width: 318px; padding:10px 0; }
.sidebar_link .txt li{ padding:0 0 0 2px; width: 94px; margin: 0 10px 0 0; height: 30px; line-height: 30px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.sidebar_link .img{ width: 318px; }
.sidebar_link .img li{ margin-right: 18px; height: 41px; }
.sidebar_link .img li img{ width: 88px; height: 31px; }

.links{ width: 618px; overflow: hidden; }
.links ul,.links ul li{ margin: 0; padding: 0; list-style: none; }
.links ul{ clear: both; width: 638px; }
.links ul li{ float: left; }
.links .txt{ padding:10px 0; }
.links .txt li{ padding:0 0 0 2px; width: 94px; margin: 0 10px 0 0; height: 30px; line-height: 30px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.links .img{ }
.links .img li{ margin-right: 18px; height: 41px; }
.links .img li img{ width: 88px; height: 31px; }


.page_product_list ul { list-style-type: none; }
.page_product_list ul li { margin: 0; padding: 15px 0 0 0; float: left; text-align: center; width: 206px; height: 235px; }
.page_product_list ul li img { margin: 0 auto; width: 164px; height: 164px; border: 1px solid #CCC; }
.page_product_list ul li span { display: block; margin: 0 auto; width: 164px; line-height: 1.5em; height: 35px; }
.page_product_list ul li b { margin: 0 auto; font-weight:normal; color: #900; line-height: 1.5em; }
.page_product_list ul li:hover{ background: #7EB8E7; }
.page_product_list ul li:hover a{ color: #fff; }

.page_photo_list { width: 618px; overflow: hidden; }
.page_photo_list ul { width: 633px; list-style-type: none; }
.page_photo_list ul li { padding: 0px; float: left; width: 196px; height:236px; margin: 0px 15px 0px 0px; }
.page_photo_list ul li img { margin-bottom: 10px; }
.page_photo_list ul li span{ display:block; width:195px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }

.download_button { font-weight: bold; color: #FFF; background-color: #0078c6; display: block; text-align: center; padding: 6px; margin-top: 20px; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; font-size: 14px; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }

.down_list h3{ margin:10px 0 0 0; padding:0; clear:both; font-size: 14px; line-height: 30px; border-bottom: 1px solid #ccc; }
.down_list ul{ margin: 0; padding: 10px; list-style: none; }
.down_list li{ margin: 0; padding: 0 0 0 30px; line-height: 30px; background: url(../image/icon_down.gif) no-repeat left center; }
.down_list li span{ float: right; }
.down_list li i{ margin-left: 10px; font-style: normal; color: #666; }

/* 图片放大镜样式3
-----------------------------------------------------------------*/
.pictureDIV { float: left; margin: 0 0 20px 0; }
.jqzoom{ float:left;border:none; position:relative; padding:0px; cursor:pointer; margin:0px; display:block; }
.zoomdiv{ z-index:100; position:absolute; top:0px; left:0px; background:#ffffff; border:1px solid #CCCCCC; display:none; text-align:center; overflow:hidden; }
.jqZoomPup{ z-index:10; visibility:hidden; position:absolute; top:0px;left:0px; width:20px; height:20px; border:1px solid #aaa; background:#ffffff /*url(../image/zoom.png) 50% center no-repeat*/;opacity: 0.5;-moz-opacity: 0.5;-khtml-opacity: 0.5;filter: alpha(Opacity=50);}
/*图片小图预览列表*/
.spec-preview{ width:292px; height:292px; border: 1px solid #CCC;}
.spec-preview .jqzoom img{ width:292px; height:292px; }
.spec-scroll{ clear:both; margin-top:5px; width:294px; }
.spec-scroll .prev{ float:left; margin-right:5px; }
.spec-scroll .next{ float:right; }
.spec-scroll .prev,.spec-scroll .next{ display:block; font-family:"宋体"; text-align:center; width:10px; height:54px; line-height:54px; border:1px solid #CCC; background:#EBEBEB; cursor:pointer; text-decoration:none; }
.spec-scroll .items{ float:left;position: relative;width:261px; height:56px; overflow:hidden; }
.spec-scroll .items ul{ margin:0; padding:0; list-style:none; position:absolute; width:999999px; height:56px; }
.spec-scroll .items ul li{ float:left; margin:0px; padding:0px; width:65px; text-align:center; }
.spec-scroll .items ul li img{ border:1px solid #CCC; padding:2px; width:50px; height:50px; }
.spec-scroll .items ul li img:hover{ border:2px solid #FF6600; padding:1px; }
.productItem { float: left; margin: 0 0 20px 10px; padding: 10px; height: 330px; border-top: 1px dotted #ccc; border-bottom: 1px dotted #CCC; list-style: none;  width: 296px;  line-height: 34px; font-size: 14px; }
.productItem li { margin: 0px; padding: 0px;}

/*slide样式
-----------------------------------------------------------------*/
#pic_box{ margin-bottom:20px; position:relative; width:618px; height:300px; text-align:center; }
#pic_show img{ display:none; *display:block; max-width:618px; width:expression((this.width>618)?618:this.width); }
.slide_box{ margin:0 auto; }

.slide_box .items{ float:left; position:relative; width:582px; height:64px; overflow:hidden; }
.slide_box .items ul{ margin:0px; padding:0; position:absolute; list-style:none; width:999999px; }
.slide_box .items ul li{ margin:0; padding:0; float:left; width:74px; }
.slide_box .items ul li img{ width:60px; }
.slide_box .items ul li a{ display:block; width:60px; height:60px; border:2px solid #fff; }
.slide_box .items ul li a:hover{ border:2px solid #f8ae0f; }
.slide_box .items ul li a.current{ margin: 0; font-weight: normal; border:2px solid #4394D6; }

.big_prev,.big_next{ display:block; top:0px; text-indent:-9999px; position:absolute; left:0; width:50%; height:100%; background:url(../image/slide_bg.gif) no-repeat; cursor:pointer; }
.big_next{ left:auto; right:0; }
.big_prev:hover{ background:url(../image/big_prev.png) no-repeat left center; }
.big_next:hover{ background:url(../image/big_next.png) no-repeat right center; }

.small_prev,.small_next{ display:block; width:18px; height:60px; cursor:pointer; }
.small_prev{ float:left; background:url(../image/small_prev.png) no-repeat left center; }
.small_next{ float:right; background:url(../image/small_next.png) no-repeat right center; }
/*slide结束*/